<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.unity.ads" android:versionName="1.0" android:versionCode="1">
  <application>
    <uses-library android:required="false" android:name="org.apache.http.legacy" />
    <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-9352383645515305~4877058325" />
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <!--optional-->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <!--optional-->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <!--optional-->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <!--optional-->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <!--optional-->
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <!--optional-->
  <uses-permission android:name="android.permission.VIBRATE" />
  <!--optional-->
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest>